.App {
    font-family: sans-serif;
    text-align: center;
}

.viewport {
    padding-top: 1px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    line-height: 20px;
    background: #dafff5;
    max-width: 70%;
    margin: 0 auto;
    margin-bottom: 1rem;
    display: flex;
}

img {
    border-radius: 5px 5px 0 0;
}

@media screen and (max-width: 500px) {
    .card {
      flex-direction: column;
    }
}
